extends ../layouts/wrapper

block headerContent
  include ../headers/header

block mainContent
  main
    h1.visually-hidden Ошибка 404

    section.error
      h2.error__title.title.title--big Похоже ошиблись адресом
      h2= error
      a.error__link.text.text--big(href='/') Вернуться на главную
