mixin createMenuItem(item)
  li.navigation__item
    a(href= item.href)= item.name


.header__dropdown
  a.button.button--burger.header__burger(href='#') Открыть меню
  ul.navigation.header__navigation

    - const menu = [{href: `/my`, name: `Публикации`},{href: `/articles/add`, name: `Добавить статью`},{href: `/my/categories`, name: `Категории`},{href: `/my/comments`, name: `Комментарии`}];
      each item of menu
        +createMenuItem(item)

