header.header

  include logo

  button.button.button--colored.header__button-new Новая запись

  include ../blocks/drop-menu

  a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
