header.header

  include logo

  a.button.button--colored.header__button-new(href= '/articles/add') Новая запись

  include drop-menu

  a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')
