extends ./layouts/wrapper-color


mixin createMyArticle(date, title, id)
  li.notes__list-item
    time.notes__item-time(datetime= date)= date
    a.notes__item-text(href=`/articles/${id}`)= title
    a.notes__button.button.button--close-item(href= `/my/articles-delete/${id}`)

      span.visually-hidden Закрыть строку списка

block headerContent
  include headers/header-admin

block mainContent
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи

      include blocks/errors


      ul.notes__list
        each article of articles
          +createMyArticle(article.date, article.title, article.id)
