extends ./layouts/wrapper-color


mixin createMyArticle(createdDate, title, id)
  li.notes__list-item
    time.notes__item-time(datetime= createdDate)= createdDate
    a.notes__item-text(href=`/articles/${id}`)= title
    //- button.notes__button.button.button--close-item(type='button')
    a.notes__button.button.button--close-item(href= `/my/articles-delete/${id}`)

      span.visually-hidden Закрыть строку списка

block headerContent
  include headers/header-admin

block mainContent
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи

      include blocks/errors


      ul.notes__list
        each article of articles
          +createMyArticle(article.createdDate, article.title, article.id)
        //- li.notes__list-item
        //-   time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
        //-   a.notes__item-text(href='#') Huawei открыла в России предзаказ на смартфон Mate 30 Pro без сервисов Google
        //-   button.notes__button.button.button--close-item(type='button')
        //-     span.visually-hidden Закрыть строку списка
