extends ./layouts/wrapper



block headerContent
  include headers/header


block mainContent
  main
    section.search-page
      if articles
        if articles.length
          include ./blocks/search-list
        else
          include ./blocks/search-before
      else
        include ./blocks/search-nothing
