
if (user)
  .comments__footer.comments__footer--user
    form(action=`/articles/${article.id}/comments` method="post" enctype="multipart/form-data" autocomplete="off")
      input(type="hidden" name="_csrf" value=csrfToken)
      .comments__avatar.avatar
        img(src=`/img/avatars/${user.avatar}` alt='аватар пользователя')
      label
        textarea(rows='1' name='text' placeholder='Присоединиться к обсуждению')
      button.comments__button.button.button--colored(type='submit') Опубликовать
else
  .comments__footer.comments__footer--visitor
    a.comments__button.button.button--colored(href='/login') Войти
    .comments__registration
      p.text.text--signature
        b.title.title--small Регистрация
        | Чтобы присоединиться к переписке нужно зарегистрироваться
