mixin createFoundArticle(article)
  .search__result
    time.search__date(datetime= article.createdDate)= article.date
    a.search__link(href=`/articles/${article.id}`)= article.title


.search-page__wrapper
  h1 Поиск
  .search.search-page__form
    form(action='#' method='get')
      input(type="hidden" name="_csrf" value=csrfToken)
      label
        input(type='text' name='title' placeholder='Что ищем?' value= title)
      button.search__button.button.button--transparent(type='submit') Найти
    each article in articles
      +createFoundArticle(article)
